<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="2"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="app.vercel.neomoji.twa"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="35" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>

        <intent>

            <action
                android:name="android.intent.action.VIEW" />

            <category
                android:name="android.intent.category.BROWSABLE" />

            <data
                android:scheme="https" />
        </intent>
    </queries>

    <application
        android:theme="@ref/0x1030010"
        android:label="@ref/0x7f0b0000"
        android:icon="@ref/0x7f090000"
        android:name="app.vercel.neomoji.twa.Application"
        android:manageSpaceActivity="com.google.androidbrowserhelper.trusted.ManageDataLauncherActivity"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <meta-data
            android:name="asset_statements"
            android:resource="@ref/0x7f0b0002" />

        <meta-data
            android:name="web_manifest_url"
            android:value="@ref/0x7f0b0014" />

        <meta-data
            android:name="twa_generator"
            android:value="@ref/0x7f0b0009" />

        <activity
            android:name="com.google.androidbrowserhelper.trusted.ManageDataLauncherActivity">

            <meta-data
                android:name="android.support.customtabs.trusted.MANAGE_SPACE_URL"
                android:value="@ref/0x7f0b000b" />
        </activity>

        <activity
            android:label="@ref/0x7f0b000c"
            android:name="app.vercel.neomoji.twa.LauncherActivity"
            android:exported="true"
            android:alwaysRetainTaskState="true">

            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="@ref/0x7f0b000b" />

            <meta-data
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
                android:resource="@ref/0x7f030005" />

            <meta-data
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR_DARK"
                android:resource="@ref/0x7f030006" />

            <meta-data
                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"
                android:resource="@ref/0x7f030007" />

            <meta-data
                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR_DARK"
                android:resource="@ref/0x7f030008" />

            <meta-data
                android:name="androix.browser.trusted.NAVIGATION_BAR_DIVIDER_COLOR"
                android:resource="@ref/0x7f030009" />

            <meta-data
                android:name="androix.browser.trusted.NAVIGATION_BAR_DIVIDER_COLOR_DARK"
                android:resource="@ref/0x7f03000a" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE"
                android:resource="@ref/0x7f050010" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR"
                android:resource="@ref/0x7f030000" />

            <meta-data
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_OUT_DURATION"
                android:value="@ref/0x7f070000" />

            <meta-data
                android:name="android.support.customtabs.trusted.FILE_PROVIDER_AUTHORITY"
                android:value="@ref/0x7f0b0011" />

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@ref/0x7f0e0002" />

            <meta-data
                android:name="android.support.customtabs.trusted.FALLBACK_STRATEGY"
                android:value="@ref/0x7f0b0004" />

            <meta-data
                android:name="android.support.customtabs.trusted.SCREEN_ORIENTATION"
                android:value="@ref/0x7f0b0010" />

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="@ref/0x7f0b000a" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.androidbrowserhelper.trusted.FocusActivity" />

        <activity
            android:name="com.google.androidbrowserhelper.trusted.WebViewFallbackActivity"
            android:configChanges="0x480" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="@ref/0x7f0b0011"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f0e0000" />
        </provider>

        <service
            android:name="app.vercel.neomoji.twa.DelegationService"
            android:enabled="@ref/0x7f020000"
            android:exported="@ref/0x7f020000">

            <meta-data
                android:name="android.support.customtabs.trusted.SMALL_ICON"
                android:resource="@ref/0x7f050001" />

            <intent-filter>

                <action
                    android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" />

                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.google.androidbrowserhelper.trusted.NotificationPermissionRequestActivity" />

        <meta-data
            android:name="com.android.dynamic.apk.fused.modules"
            android:value="base" />

        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store" />

        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_STANDALONE_APK" />

        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@ref/0x7f0e0003" />
    </application>
</manifest>
